<div>
  <h3>TO DO LIST</h3>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only" id="loading">Loading...</span>
    </div>
  </div>
  <table class="table" id="tab" border="2px solid black">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of lis">
        <td>{{ i.id }}</td>
        <td>{{ i.completed }}</td>
        <td>{{ i.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
